<div class="container" fade-in>


    <div style="padding-top: 2em;">

        <div class="jumbotron">

            <div class="page-header">
                <img src="images/banner.png" width="100%">
            </div>
            <div>

                <p>This project is meant to serve as a more substantial starting point for professional web applications. It integrates AngularJS with projects like Angular-UI, Angular-Strap, Bootstrap, and jQuery, along with examples of angular services, directives, controllers, and filters. Click sign in above to see additional features, or browse the widgets...</p>

            </div>


            <a class="btn btn-large btn-primary" href="#/about">Learn more</a>

        </div>

    </div>

</div>

<!-- Notifications -->
<div noty ng-repeat="n in notifications"/>