

<nav class="navbar navbar-inverse" role="navigation">
    <div class="navbar-footer">

        <!--
        <a class="navbar-brand" href="#">&copy; {{constants.company_name}} {{constants.copyright_year}}</a>
        -->
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer-nav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

    </div>


    <div id="footer-nav" class="navbar-collapse collapse">

        <ul class="nav navbar-nav">
        <li><a href="#/about">About</a></li>
        <li><a href="#/contact">Contact</a></li>

        <li><a href="#/faq">FAQ</a></li>
        </ul>


    </div>
</nav>